.movie {
  position: relative;
  width: 200px;
  padding: 0.5rem;
  color: #424242;
  font-size: 0.75rem;
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.img {
  display: block;
}

.buttonBox {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  display: flex;
  padding: 8px;
  background-color: #fff;
  box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 0px 0px 0px 5px;
}
